.panelContainer {
    display: grid;
    grid-template: auto auto auto / 1fr 4fr;
}
.side {
    grid-area: 
    1 / 1 /
    3 / 2;
}
.head {
    grid-area: 
    1 / 2 /
    2 / 3;
}
.content {
    grid-area: 
    2 / 2 /
    3 / 3;
}
.foot {
    grid-area: 
    3 / 1 /
    4 / 3;
}
